rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /households/{householdId}/expenses/{expenseId} {
      allow read, write: if request.auth != null;
    }
    match /households/{householdId}/settings/{document} {
      allow read, write: if request.auth != null;
    }
    match /households/{householdId}/receipts/{receiptId} {
      allow read, write: if request.auth != null;
    }
  }
}
